{{ define "main" }}
<div class="wrap wrap--prose page-header">
  {{ partial "breadcrumb.html" . }}
  <h1>{{ .Title }}</h1>
  {{- with .Params.lede }}
  <p class="lede">{{ . | markdownify }}</p>
  {{- end }}
</div>
<div class="wrap wrap--prose">
  {{- with .Content }}<div class="prose">{{ . }}</div>{{ end }}
  <div class="grid grid--2 gap-t-lg">
    {{- range .RegularPages }}
    <a class="card card--link" href="{{ .RelPermalink }}">
      <h2>{{ .LinkTitle }}</h2>
      <p>{{ .Description | default .Summary }}</p>
    </a>
    {{- end }}
  </div>
</div>
{{ end }}
